In [5]:
import sqlite3
con = sqlite3.connect('myhospital.db')
cursor = con.cursor()

In [6]:
# Delete possible tables
cursor.execute("DROP TABLE IF EXISTS PATIENTS;")
cursor.execute("DROP TABLE IF EXISTS ADMISSIONS;")

In [7]:
# Create patient table
sql_command = """
CREATE TABLE PATIENTS (
PatientID INT(8) NOT NULL,
PatientName VARCHAR(20) NOT NULL,
Gender VARCHAR(5) NOT NULL,
Birthdate DATE NOT NULL,
Phone VARCHAR(20) NOT NULL,
Address VARCHAR(50),
PRIMARY KEY(PatientID) );"""
cursor.execute (sql_command)

In [8]:
#  Insert patients
sql_command = """INSERT INTO PATIENTS (PatientID, PatientName, Gender,
Birthdate, Phone, Address)
VALUES (12345678,'이현우', 'M', '2000-01-23', '010-2222-1234', '서울'); """
cursor.execute(sql_command)

sql_command = """INSERT INTO PATIENTS (PatientID, PatientName, Gender,
Birthdate, Phone, Address)
VALUES (12349876,'강니사', 'F', '1990-10-17', '010-3333-9876', '부산'); """
cursor.execute(sql_command)
con.commit()

In [9]:
# Create admission table 
sql_command = """
CREATE TABLE ADMISSIONS (
PatientID  INT(8) NOT NULL,
AdmID INT(8) NOT NULL,
AdmDate  DATE,
PrimaryDiagnosis VARCHAR(50),
PRIMARY KEY(AdmID),
FOREIGN KEY (PatientID) REFERENCES PATIENTS (PatientID));"""
cursor.execute (sql_command)

In [10]:
# Insert admissions
sql_command = """INSERT INTO ADMISSIONS (PatientID, AdmID, AdmDate,
PrimaryDiagnosis )
VALUES (12345678, 23456789, '2018-11-01', '급성폐렴');"""
cursor.execute(sql_command)

sql_command = """INSERT INTO ADMISSIONS (PatientID, AdmID, AdmDate,
PrimaryDiagnosis )
VALUES (12349876, 23478913, '2019-12-28', '독감');"""
cursor.execute(sql_command)

sql_command = """INSERT INTO ADMISSIONS (PatientID, AdmID, AdmDate,
PrimaryDiagnosis )
VALUES (12349876, 20180201, '2024-12-23', '급성폐렴');"""
cursor.execute(sql_command)
con.commit()

In [12]:
# Search all patients
result = cursor.execute("SELECT * FROM PATIENTS;")
for r in result:
    print (r)

(12345678, '이현우', 'M', '2000-01-23', '010-2222-1234', '서울')
(12349876, '강니사', 'F', '1990-10-17', '010-3333-9876', '부산')

In [13]:
# Search primaryDiagnosis and the count of primaryDiagnosis from admission table that grouped by primaryDiagnosis
result = cursor.execute("""SELECT PrimaryDiagnosis, count()
	  FROM ADMISSIONS
      GROUP BY PrimaryDiagnosis;""")

for r in result:
    print (r)

('급성폐렴', 2)
('독감', 1)

In [14]:
# Search name, gender, phone, admdate, primaryDiagnosis from patient and admission tables 
# where patient's id and admission's patientId are the same.
result = cursor.execute("""SELECT PATIENTS.PatientName, PATIENTS.Gender, PATIENTS.Phone,
      ADMISSIONS.AdmDate, ADMISSIONS.PrimaryDiagnosis
	  FROM PATIENTS, ADMISSIONS
      WHERE PATIENTS.PatientID =  ADMISSIONS.PatientID;""")

for r in result:
    print (r)

('이현우', 'M', '010-2222-1234', '2018-11-01', '급성폐렴')
('강니사', 'F', '010-3333-9876', '2019-12-28', '독감')
('강니사', 'F', '010-3333-9876', '2024-12-23', '급성폐렴')

In [15]:
cursor.close()
con.close()